.footer{
    position: fixed;
    background-color: #051622;
	box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 8px 10px;
    bottom: 0;
}
.footer-icons{
    margin-top: 15px;
    margin-bottom: 10px;
}
.footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #78fff4;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
    
}
.footer-company-name{
    text-align: left;
	color:  #fafcff;
	font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
}
.footer-right , .footer-left{
    display: inline-block;
    vertical-align: top;
}

.footer-left{
    width: 40%;
    bottom: 0;
}

.footer-right{
    width: 60%;
    text-align: right;
}